.DS_Store

test-app/

*.js
*.js.map
!nativescript.webpack.js
!loaders/unit-test-loader.js

coverage
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz
*.tmp
*.sublime-workspace
tscommand*.tmp.txt
.tscache/

pids
logs
results
scratch/
.idea/
.settings/
.vscode/
test-reports.xml
package-lock.json

npm-debug.log
node_modules
.d.ts

platforms/android/nativescript_unit_test_runner.aar
platforms/android/unit_test_runner.aar
