.idea
.gitattributes
.gitmodules
*.sublime-project
lint.*
.jshint*
.npmignore
*.tgz
test-reports.xml
tscommand.tmp.txt
.tscache/
.vscode/
*.ts
!app/main.d.ts
*.js.map
definitions
platforms/android/*
!platforms/android/*.aar
